{% extends "doc_base.html" %}
{% load static %}
{% block title %}
	All Consultations
{% endblock %}
{% block extra_style %}
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/doctorslist.css'%}"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
        body {
            background: #f9f9f9;
            font-family: "Roboto", sans-serif;
        }

        .main-content {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .table {
            border-spacing: 0 15px;
            border-collapse: separate;
        }
        .table thead tr th,
        .table thead tr td,
        .table tbody tr th,
        .table tbody tr td {
            vertical-align: middle;
            border: none;
        }
        .table thead tr th:nth-last-child(1),
        .table thead tr td:nth-last-child(1),
        .table tbody tr th:nth-last-child(1),
        .table tbody tr td:nth-last-child(1) {
            text-align: center;
        }
        .table tbody tr {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
        .table tbody tr td {
            background: #fff;
        }
        .table tbody tr td:nth-child(1) {
            border-radius: 5px 0 0 5px;
        }
        .table tbody tr td:nth-last-child(1) {
            border-radius: 0 5px 5px 0;
        }

        .user-info {
            display: flex;
            align-items: center;
        }
        .user-info__img img {
            margin-right: 15px;
            height: 55px;
            width: 55px;
            border-radius: 45px;
            border: 3px solid #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
	</style>
{% endblock %}
{% block content %}
    <section class="main-content">
        <div class="container">
            <h1>Appointment Table UI</h1>
            <br>
            <br>

            <table class="table">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Status</th>
                        <th>Appointment</th>
                        <th>Phone</th>
                        <th>Doctor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="user-info">
                                <div class="user-info__img">
                                    <img src="img/user1.jpg" alt="User Img">
                                </div>
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Kiran Acharya</h5>
                                    <p class="text-muted mb-0">28 yrs, Male</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="btn btn-success">Consult</span>
                        </td>
                        <td>
                            <h6 class="mb-0">06:00 PM</h6>
                            <small>2 Feb 2021</small>
                        </td>
                        <td>
                            <h6 class="mb-0">+91 9876543215</h6>
                            <a href="#!"><small>Contact</small></a>
                        </td>
                        <td>
                            <h6 class="mb-0">Dr. Ananth</h6>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="user-info">
                                <div class="user-info__img">
                                    <img src="img/user1.jpg" alt="User Img">
                                </div>
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Kiran Acharya</h5>
                                    <p class="text-muted mb-0">28 yrs, Male</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="btn btn-primary">Revisit</span>
                        </td>
                        <td>
                            <h6 class="mb-0">06:00 PM</h6>
                            <small>2 Feb 2021</small>
                        </td>
                        <td>
                            <h6 class="mb-0">+91 9876543215</h6>
                            <a href="#!"><small>Contact</small></a>
                        </td>
                        <td>
                            <h6 class="mb-0">Dr. Ananth</h6>
                        </td>
                        <td>
                            <div class="dropdown open">
                                <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="triggerId1">
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit</a>
                                    <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash mr-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="user-info">
                                <div class="user-info__img">
                                    <img src="img/user1.jpg" alt="User Img">
                                </div>
                                <div class="user-info__basic">
                                    <h5 class="mb-0">Kiran Acharya</h5>
                                    <p class="text-muted mb-0">28 yrs, Male</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="btn btn-success">Consult</span>
                        </td>
                        <td>
                            <h6 class="mb-0">06:00 PM</h6>
                            <small>2 Feb 2021</small>
                        </td>
                        <td>
                            <h6 class="mb-0">+91 9876543215</h6>
                            <a href="#!"><small>Contact</small></a>
                        </td>
                        <td>
                            <h6 class="mb-0">Dr. Ananth</h6>
                        </td>
                        <td>
                            <div class="dropdown open">
                                <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="triggerId1">
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit</a>
                                    <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash mr-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}